<!-- main.hbs-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TrapperDB</title>
    <h1>TrapperDB</h1>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>

<nav>
    <a href="../">Home</a>
    <a href="../players">Players</a>
    <a href="../garmentsets">Garment Sets</a>
    <a href="../clothingitems">Clothing Items</a>
    <a href="../ingredients">Ingredients</a>
    <a href="../clothingingredients">Clothing Ingredients</a>
    <a href="../transactions">Transactions</a>
    <a href="../transactiondetails">Transaction Details</a>
</nav>

<body>

    {{{body}}}

</body>

<footer>
    <p><cite>&copy; 2023 Project Group 55: Alden Chico & Christine Kuran</cite></p>
</footer>

</html>