<h2>Garment Sets</h2>

{{!-- Table that shows all of the garment sets --}}
<table id="garmentsets-table">
    <thead>
        {{!-- Print column headers --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{!-- For each row, print attributes in order --}}
        {{#each data}}
        <tr>
            <td>{{this.garmentID}}</td>
            <td>{{this.garmentName}}</td>
            <td>{{this.garmentDescription}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Search for a garment set --}}
{{!-- <h3>Search for a Garment Set</h3>
<p>Search by entering a garment set name in the form below:</p>
<form id="search-garmentset-html" method='GET' action='/garmentsets'>
    <label for="input-garmentName">Search by Garment Set Name: </label>
    <input type="text" name="garmentName" id="input-garmentName-html-search">

    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form> --}}


{{!-- Create a new garment set --}}
<h3>Add New Garment Set</h3>
<p>Enter new garment set information in the form below:</p>
<form id="add-garmentset-form" method="POST" action="/add-garmentset-form">
    <label for="input-garmentName">Garment Set Name: </label>
    <input type="text" name="input-garmentName" id="input-garmentName">

    <label for="input-garmentDescription">Description: </label>
    <input type="text" name="input-garmentDescription" id="input-garmentDescription">

    <input type="submit">
</form>