{{!-- Citation for the following code:
Date: 03/20/2023
Adapted from CS340 Starter App code
Code is adapted from the CS 340 starter code; added proper headers, adjusted inputs as needed
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<h2>Garment Sets</h2>

{{!-- Table that shows all of the garment sets --}}
<table id="garmentsets-table">
    <thead>
        {{!-- Print column headers --}}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        {{!-- For each row, print attributes in order --}}
        {{#each data}}
        <tr data-value={{this.garmentID}}>
            <td>{{this.garmentID}}</td>
            <td>{{this.garmentName}}</td>
            <td>{{this.garmentDescription}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Create a new garment set --}}
<h3>Add New Garment Set</h3>
<p>Enter new garment set information in the form below:</p>

<form id="add-garmentset-form" onsubmit="addGarmentSet(inputGarmentName.value, inputGarmentDescription.value)">
    <label for="input-garmentName">Name: </label>
    <input type="text" name="inputGarmentName" id="input-garmentName" required>

    <label for="input-garmentDescription">Description: </label>
    <input type="text" name="inputGarmentDescription" id="input-garmentDescription">

    <div><input type="submit" value="Submit"></div>
</form>

{{! ADD GARMENT SET JAVASCRIPT CODE }}
<script src="./js/garment_sets_js/add_garment_set.js" type="text/javascript"></script>