<h2>Home</h2>
<p>There is a local RDR2 club of 15 players, who collectively make about 300 ingredient transactions
    per week to the Trapper. Club members had been complaining about difficulty in keeping track of
    their ingredients that they've sold to the Trapper. One player has decided to take on the task of
    maintaining a database to record the Transactions of Ingredients by Players for the club.</p>

<div class="entities">
    <ul>
        <li>Home: Home page for our project TrapperDB</li>
        <li>Players: Players in the RDR2 club</li>
        <li>Garment Sets: Garment Sets available in RDR2</li>
        <li>Clothing Items: Clothing Items available in RDR2, which are used to make Garment Sets</li>
        <li>Ingredients: Ingredients available in RDR2, which are used to make Clothing Items</li>
        <li>Clothing Ingredients: Shows which Clothing Items are made from which Ingredients</li>
        <li>Transactions: Records of Transactions of Ingredients by Players</li>
        <li>Transaction Details: Shows which Ingredients were part of which Transactions</li>
    </ul>
</div>