<h2>Ingredients</h2>

{{!-- Table that shows all of the ingredients --}}
<table id="ingredients-table">
    <thead>
        {{!-- Print column headers --}}
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        {{!-- For each row, print attributes in order --}}
        {{#each data}}
        <tr>
            <td>{{this.ingredientID}}</td>
            <td>{{this.ingredientName}}</td>
            <td>{{this.ingredientDescription}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Create a new ingredient --}}
<h3>Add New Ingredient</h3>
<p>Enter new ingredient information in the form below:</p>
<form id="add-ingredient-form" onsubmit="addIngredient(inputIngredientName.value, inputIngredientDescription.value)">
    <label for="input-ingredientName">Name: </label>
    <input type="text" name="inputIngredientName" id="input-ingredientName" required>

    <label for="input-ingredientDescription">Description: </label>
    <input type="text" name="inputIngredientDescription" id="input-ingredientDescription">

    <div><input type="submit" value="Submit"></div>
</form>

{{! ADD INGREDIENT JAVASCRIPT CODE }}
<script src="./js/ingredients_js/add_ingredient.js" type="text/javascript"></script>